---
extends: relaxed

rules:
  comments:
    min-spaces-from-content: 1
    require-starting-space: false
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  line-length:
    max: 160
    level: warning
  document-start: disable
  trailing-spaces:
    level: warning
  indentation:
    level: warning
  new-line-at-end-of-file:
    level: warning
  truthy:
    level: warning
    check-keys: false
  empty-lines:
    level: warning

ignore: |
  .git/
