[defaults]
inventory = inventories/inventory.yaml
roles_path = roles
retry_files_enabled = False
host_key_checking = False
facts_caching=jsonfile
facts_caching_connection=/tmp/facts_cache/
gather_facts=True
interpreter_python=auto_silent

vault_password_file=.vault_pass

[connection]
pipelining=True

[ssh_connection]
pipelining=True
