[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
ExecStart={{ node_exporter_bin_path }} \
  --web.listen-address=127.0.0.1:9100 \
  --collector.systemd \
  --collector.logind \
  --collector.processes
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target