[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
ExecStart={{ node_exporter_bin_path }} \
  --web.listen-address=0.0.0.0:9100 \
  --web.config.file=/etc/node_exporter/web-config.yaml \
  --collector.systemd \
  --collector.logind \
  --collector.processes
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target