[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User={{ node_exporter_user }}
Group={{ node_exporter_user }}
Type=simple
ExecStart={{ node_exporter_bin_path }} \
  --collector.systemd \
  --collector.processes \
  --web.config.file=/etc/node_exporter/web-config.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target