services:
  loki:
    image: grafana/loki:3.0.0
    networks: [ monitoring ]
    container_name: loki
    restart: unless-stopped
    ports:
      - "127.0.0.1:{{ loki_port }}:{{ loki_port }}"
    volumes:
      - ./config/loki.yaml:/etc/loki/local-config.yaml:ro
      - ./data:/loki
    command: -config.file=/etc/loki/local-config.yaml